savefig
tmp
data
events
save
obsolete
textLM
tmpcaps
tmpimages
vis
*.txt
*.pkl
*.pyc
*.json
*.log
misc/rpn
misc/ssd
captions
coco-caption/pycocoevalcap/spice/lib
coco-caption/pycocoevalcap/spice/cache
coco-caption/pycocoevalcap/spice/tmp
